<!DOCTYPE html>
<html>
<%- include('head') %>
<body>
    <div class="wrapper">
        <%- include('header') %>
        <div class="container my-5">
            <h1>Інформація про сайт</h1>
            <p>Вітаємо на нашому сайті! Тут ви знайдете інформацію про різноманітні книги, авторів та жанри. Наш сайт створений для всіх, хто цікавиться світом книг та бажає розширити свої знання.</p>
            <p>Ми прагнемо забезпечити вас актуальною та корисною інформацією про найновіші книжки, найпопулярніших авторів та гарячі літературні тенденції.</p>
            <p>Будь ласка, зв'яжіться з нами, якщо у вас є будь-які питання або пропозиції. Ми завжди раді вашому фідбеку та готові розглянути будь-які пропозиції щодо покращення нашого сайту.</p>
            <p>Пишіть на нашу адресу: glebishshenko1000@gmail.com</p>
        </div>
        <%- include('footer') %>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
